@import "tailwindcss";
/* .text-\[20px\] {
    font-size: 20px;

}
.h4font{
    font-size: 22px;
    font-weight: 500;
}
.heading-font{
    font-size: 3rem;
    font-weight: 600;
}
.span-key-features{
    padding: 2% 0%;
    font-size: 1.2rem;
}
.left{
    width: 45%;
} */