@import "tailwindcss";



@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to
    {
        opacity: 1;
        scale: 1;
    }
}
.anime{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.deep {
  display: none;
}

/* Media Query: For tablets and desktops (screens 600px and wider) */
@media screen and (min-width: 400px) {
  .deep {
    display: block;
  }
}